body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #bdd1c5;
  background-image: url('./assets/quiz_7.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

h1 {
  color: #213a57;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: left;
}

.answer-list {
  padding: 10px;
  color: rgb(136, 10, 52);
}

.bibliografie {
  padding: 80px 0;
}

.contact {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

a, button {
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: #1aac5b;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

a:hover, button:hover {
  transition: .4s ease-in-out;
  scale: 120%;
}

button {
  background-color: #a36361;
}

.categories-link {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 4px;
  list-style: none;
  background-color: #e4d97b;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.2rem;
  gap: 2px;
}

.link-icon {
  color: #0077B5; 
  margin-right: 10px; 
}

.github-icon {
  color: #171515; 
  margin-right: 10px; 
}

.b-link {
  background-color: #a36361;
}

.icon {
  font-size: 1.5rem; 
  display: inline-flex;
  align-items: center;
}

.a-home {
  background-color: transparent;
}


.rasp-corect {
  color: green;
}

.rasp-incorect {
  color: black;
}
